exportPattern("^[[:alpha:]]+")
importFrom(digest, hmac)
importFrom(RCurl, base64Encode, getURL, curlEscape)
importFrom(XML, xmlParse, xmlChildren, xpathApply, xmlValue, xmlName,
				xmlNamespace, xmlSchemaValidate, removeXMLNamespaces,
				newXMLNode, addChildren, toString.XMLNode, getNodeSet)