# internal
#export("ParseErrorCodes")

# deprecated
#export("APIReference")
#export("mturkhelp")
#export("genericmturkr")
#export("makeGETparameters")
export("credentials")

# exported
export("request")

export("accountbalance")
export("AccountBalance")
export("getbalance")
export("SufficientFunds")

export("assignment")
export("assignments")

export("approve")
export("approveall")
export("ApproveAssignment")
export("ApproveAssignments")
export("ApproveAllAssignments")

export("reject")
export("RejectAssignment")
export("RejectAssignments")

export("assignqual")
export("AssignQualification")
export("AssignQualifications")

export("block")
export("BlockWorker")
export("BlockWorkers")

export("unblock")
export("UnblockWorker")
export("UnblockWorkers")

export("GetBlockedWorkers")
export("blockedworkers")

export("bonus")
export("paybonus")
export("GrantBonus")

export("bonuses")
export("GetBonuses")

export("changehittype")
export("ChangeHITType")

export("contact")
export("ContactWorker")
export("ContactWorkers")

export("create")
export("createhit")
export("CreateHIT")

export("createqual")
export("CreateQualificationType")

export("disable")
export("DisableHIT")

export("disposehit")
export("DisposeHIT")

export("disposequal")
export("DisposeQualificationType")

export("expire")
export("ExpireHIT")

export("extend")
export("ExtendHIT")

export("GetAssignment")
export("GetAssignments")

export("geturls")
export("GetFileUpload")

export("hit")
export("gethit")
export("GetHIT")

export("gethitsbyqual")
export("GetHITsForQualificationType")
export("GetQualificationRequests")

export("getquals")
export("GetQualifications")
export("GetQualificationScore")
export("GetQualificationType")

export("GetReviewResultsForHIT")
export("reviewresults")

export("grantqual")
export("GrantQualification")
export("GrantQualifications")

export("rejectrequest")
export("RejectQualification")
export("RejectQualifications")

export("revokequal")
export("RevokeQualification")
export("RevokeQualifications")

export("status")
export("HITStatus")

export("ListOperations")
export("ListQualificationTypes")
export("ListStatistics")

export("OpenDownloadPage")
export("OpenManageHITPage")
export("OpenQualificationPage")
export("OpenWorkerPage")
export("ViewAvailableHITs")

export("mturkr.wizard")
export("MTurkR.Wizard")
export("wizard.simple")

export("qualrequests")
export("qualscore")
export("qualtype")

export("readlogfile")

export("reviewable")
export("GetReviewableHITs")

export("hittype")
export("RegisterHITType")

export("searchhits")
export("SearchHITs")

export("searchquals")
export("SearchQualificationTypes")

export("reviewing")
export("SetHITAsReviewing")

export("notificationtest")
export("SendTestEventNotification")
export("setnotification")
export("SetHITTypeNotification")

export("updatequal")
export("UpdateQualificationScore")
export("UpdateQualificationType")
export("updatequalscore")

export("seconds")

export("GetStatistic")
export("statistic")
export("RequesterReport")

export("workerstatistic")
export("GetWorkerStatistic")
export("WorkerReport")

export("AnswerKeyTemplate")

export("GenerateAnswerKey")
export("GenerateExternalQuestion")
export("GenerateHITLayoutParameter")
export("GenerateHTMLQuestion")
export("GenerateNotification")
export("GenerateQualificationRequirement")
export("GenerateAssignmentReviewPolicy")
export("GenerateHITReviewPolicy")

export("GenerateHITsFromTemplate")
export("BulkCreate")
export("BulkCreateFromTemplate")
export("BulkCreateFromURLs")
export("BulkCreateFromHITLayout")

# imports
importFrom(utils, browseURL, download.file, menu, tail, read.delim,
                  write.table, write.csv, packageDescription)
importFrom(grDevices, bringToTop)
importFrom(stats, setNames, reshape)
importFrom(digest, hmac)
importFrom(base64enc, base64encode)
importFrom(curl, curl_escape, curl_unescape, new_handle, curl_fetch_memory)
importFrom(XML, xmlParse, xmlChildren, xpathApply, xmlValue, xmlName,
                xmlNamespace, xmlSchemaValidate, removeXMLNamespaces,
                newXMLNode, addChildren, toString.XMLNode, getNodeSet,
                xmlRoot, xmlToList)

# S3 methods
S3method(print, MTurkResponse)
S3method(print, SufficientFunds)
S3method(as.data.frame, MTurkResponse)
# other specific methods here

# `*ToDataFrame` functions to deprecate
#export("AnswerKeyToDataFrame")
#export("AssignmentsToDataFrame")
#export("BonusPaymentsToDataFrame")
#export("ExternalQuestionToDataFrame")
#export("HITsToDataFrame")
#export("HTMLQuestionToDataFrame")
#export("QualificationRequestsToDataFrame")
#export("QualificationRequirementsToDataFrame")
#export("QualificationsToDataFrame")
#export("QualificationTypesToDataFrame")
#export("QuestionFormAnswersToDataFrame")
#export("QuestionFormToDataFrame")
#export("ReviewResultsToDataFrame")
#export("WorkerBlockToDataFrame")

# GUI
import(tcltk)
