exportPattern("^[[:alpha:]]+")
importFrom(digest, hmac)
importFrom(RCurl, base64Encode, curlEscape, curlUnescape,
                  curlPerform, basicTextGatherer, getURL)
importFrom(XML, xmlParse, xmlChildren, xpathApply, xmlValue, xmlName,
				xmlNamespace, xmlSchemaValidate, removeXMLNamespaces,
				newXMLNode, addChildren, toString.XMLNode, getNodeSet)
#S3method(print, MTurkResponse)
#S3method(as.data.frame, MTurkAssignment)
#S3method(as.data.frame, MTurkHIT)
#S3method(as.data.frame, MTurkAnswerKey)
#S3method(as.data.frame, MTurkQuestionFormAnswers)
#S3method(as.data.frame, MTurkBonusPayments)
#S3method(as.data.frame, MTurkExternalQuestion)
#S3method(as.data.frame, MTurkQuestionForm)
#S3method(as.data.frame, MTurkHTMLQuestion)
#S3method(as.data.frame, MTurkQualification)
#S3method(as.data.frame, MTurkQualificationType)
#S3method(as.data.frame, MTurkQualificationRequest)
#S3method(as.data.frame, MTurkQualificationRequirement)
#S3method(as.data.frame, MTurkReviewResults)
#S3method(as.data.frame, MTurkWorkerBlock)
